@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');
:root{
    --main-color: #1877f2;
    --black:#d3d3d3   ;
    --light-color:#777;
    --bg: #01010e ;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem  1.5rem rgba(0,0,0,.1);

}
*{
    text-decoration: none;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
   
}


.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background:#fff ;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;

}
.header .logo{
    font-size: 2.5rem;
    color: var(--main-color);
}


    .header .navbar a{
        font-size: 1.7rem;
        color: var(--light-color);
        margin-left: 2rem;
    }
    
    .header .navbar a:hover{
        color: var(--main-color);
        font-weight: bolder;
}
.home{
   
    gap:1.5rem;
    
    background: url(../imagens/111.gif);
    width: 1366px;
    height: 660px;
    align-items: center;
    }
    .home .box{
        width: 300px;
        height: 200px;
        background: #fff;
        position: absolute;
        top: 00%;
        left: 50%;
        margin-top: 180px;
        margin-left: -150px;
        border-radius: .5rem;
        text-align: center;
        animation: go-back-sun 1s;
        
        
       
       
    }

    .btn{
        width: 250px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: whitesmoke;
        border-radius: .5rem;
        display: inline-block;
        margin: auto;
        background: var(--main-color);
        cursor: pointer;
        box-shadow: var(--box-shadow);
        text-align: center;
        align-items: center ;
        z-index: 0;
        font-size: 22px;
        overflow: hidden;
        animation: go-back-sun 1s;
        margin-top: 410px;


    }
    .btn::before{
        content: '';
        position: absolute;
        top: 0; right: 0;
        height: 100%;
        width: 0%;
        background:#00f700;
        z-index: -1;
        transition: .2s ease-out;
        
    }
    .btn:hover::before{
        left: 0;
        width:100%;
        color: black;
    }
    .home .cloud{
        position: absolute;
        bottom: 0; right: 0; left: 0;
        height: 18rem;
        background-size: 250rem 18rem;
        background: url(../imagens/cloud.png);
        animation: cloud 30s linear infinite;
        
    }

@keyframes cloud {
    0%{
        background-position-x: 0rem;
    }
    100% {
        background-position-x: -250rem;
    }
}
.home .cloud-1{
    opacity: .6rem;
    height: 20rem;
    background-size: 250rem 20 rem;
    animation-direction: reverse;
    animation-duration: 15s;
}
.home .rocket img{
    max-height:25%;
    max-width: 25%;
    margin-left: 970px;
    margin-top: -280px;

}

.home .sun img{
    background: transparent;
    margin-left: 35px;
    max-height:20%;
    max-width: 20%;
    margin-top: 100px;
    
   
}
.home .sun{
    animation: go-back-sun 4s;
}
.home .rocket img{
    background: transparent;
    animation: go-back 3s  ;
}

@keyframes go-back {
    0% {
      transform: translatex(200px);
    }
    100% {
      transform: translatex(0);
    }
  }
  @keyframes go-back-sun {
 
        from { opacity: 0; }
        to   { opacity: 1; }
    }
  
  


.key{
  
    background: white;
    width: 1363px;
    height: 1263px;
    min-height: 900px;
    min-width: 100%;
  
    align-items: center;
}

.key .box-2{
    width: 300px;
    height: 200px;
    background: #fff;
    position: absolute;
    top: 00%;
    left: 50%;
    margin-top: 800px;
    margin-left: -150px;
    border-radius: .5rem;

}

.key .btn {
    margin-top: 1026px;
    width: 300px;
}


.key .yoda{
    margin-left: 900px;
    padding-top: 180px;
}