@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');
:root{
    --main-color: #1877f2;
    --black:#d3d3d3   ;
    --light-color:#777;
    --bg: #01010e ;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem  1.5rem rgba(0,0,0,.1);

}
*{
    text-decoration: none;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding: 9rem;
    overflow-x: hidden;
    width: auto;
    max-width: 1600px;
}



.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background:#fff ;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    

}
.header .logo{
    font-size: 2.5rem;
    color: var(--main-color);
}


    .header .navbar a{
        font-size: 1.7rem;
        color: var(--light-color);
        margin-left: 2rem;
    }
    
    .header .navbar a:hover{
        color: var(--main-color);
        font-weight: bolder;
}
.home{
    padding-top: 60px;
    gap:1.5rem;
    background: url(111.gif);
    width: auto;
    height: 600px;
   
   
    }

    .home .cont-box .box {
        width: 300px;
        height: 200px;
        background: #fff;
        position: absolute;
        border-radius: .5rem;
        text-align: center;
        animation: go-back-sun 1s;
       

    }
    
    .home .cont-box{
        width: auto;
        display: flex;
        margin-bottom: 300px;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0%;
        right: 0;
        bottom: 0;
        z-index: 1; position: absolute;
        padding-top: 200px;
    }
    
    .btn{
        width: 250px;
        height: 30px;
        position: absolute;
        padding-bottom: ;
        color: whitesmoke;
        border-radius: .5rem;
        display: inline-block;
        margin: auto;
        background: var(--main-color);
        cursor: pointer;
        box-shadow: var(--box-shadow);
        text-align: center;
        align-items: center ;
        z-index: 0;
        font-size: 22px;
        overflow: hidden;
        animation: go-back-sun 1s;
        margin-top: 410px;


    }
    .btn::before{
        content: '';
        position: absolute;
        top: 0; right: 0;
        height: 100%;
        width: 0%;
        background: red;
        z-index: -1;
        transition: .2s ease-out;
        
    }
    .btn:hover::before{
        left: 0;
        width:100%;
        color: black;
    }


.home .rocket img{
    max-height:70%;
    max-width: 70%;
}
.home .rocket{
    display: flex;
    height: 500px;
    justify-content: flex-end;

    
}
.home .sun img{
    background: transparent;
    margin-left: 5px;
    max-height:70%;
    max-width: 70%;
}
.home .sun{

    animation: go-back-sun 8s;
}
.home .rocket img{
    background: transparent;
    animation: go-back 3s  ;
}
.home .copy img {
    display: flex;
    margin-left: 780px;
    margin-top:-460px;
    position: relative;
    cursor:pointer;
}
@keyframes go-back {
    0% {
      transform: translatex(200px);
    }
    100% {
      transform: translatex(0);
    }
  }
  @keyframes go-back-sun {
 
        from { opacity: 0; }
        to   { opacity: 1; }
    }
  
  

.key{
  
    background: white;
    width: 100%;
    height: 850px;
    min-height: 500px;
    
  
    align-items: center;
}
    
 .box2{
    width: 300px;
    height: 200px;
    background: #fff;
    position: absolute;
    top: 00%;
    left: 50%;
    margin-top: 800px;
    margin-left: -150px;
    border-radius: .5rem;
    text-align: center;

}

.key .btn {
    margin-top: 1026px;
    width: 300px;
}


.key .yoda{
    
    padding-top: 180px;
}
.key .btn::before{
    background: rgb(4, 233, 4);
}
#alem{
   width: 100%;
    min-height: 270px;
    background: url(111.gif);
}


.container{
    display: inline-block;
    margin-left: 600px;
    
}
.github{
    max-width: 13%;
    max-height: 13%;
    margin-top: 100px;
    
}
.linkedn{
    max-width: 10%;
    max-height: 10%;    
    padding-bottom: 120px;
}


.link:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.copy img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--main-color);
}

.header .navbar.active{
 transition: scale(1);
 opacity: 1;
}
#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover{
    color: #fff;
    background: var(--bg);
}

@media( max-width:768px){
    #menu-btn{
        display: initial;
    }
    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        background: --main-color;
        box-shadow: var(--box-shadow);
        border: var(--border);
        border-radius: .5rem;
        width: 30rem;
        transition: scale(0);
        transform-origin: top right;
        opacity: 0;
    }
    .header .navbar.active{
     transition: scale(1);
     opacity: 1;
    }
 
    .header .navbar a {
        font-size: 2rem;
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-radius: .5rem; 
    }
    header .navbar a:hover{
        background-color: var(--bg);
    }
   
   
  .key .yoda{
    
    padding-top: 430px;}

 
@media (max-width: 600px){
   .home{
       width: auto;
   }

 .header{
     position: unset;
     justify-content: center;
 }

    .key .yoda img{
      margin-left: -2000px;
    }
    
    
   
}
